<nav>
    <div class="nav-items">
        <div class="nav-left">
            <div class="nav-logo">
                <img src="../../assets/img/ibrat-icon (1).svg" alt="">
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="#">Assosiy</a></li>
                    <li><a href="#">Kurslar</a></li>
                    <li><a href="#">Statistica</a></li>
                    <li><a href="#">savollar</a></li>
                </ul>
            </div>
        </div>
            <div class="nav-right">
                <div class="ear-icon">
                   <img src="../../assets/img/earth-icon.svg" alt="" class="icon-hidden">
                   <img src="../../assets/img/earth-icon-white.svg" alt="" class="icon-block">
                        
                </div>
                <div class="nav-button">
                    <button class="nav-btn">Ilovani Yuklash</button>
                </div>
            </div>
    </div>
</nav>
