<main>
    <div class="cont">
        <div class="items">
            <div class="item">
                <button class="item-btn">Afzalliklar</button>
            </div>
            <div class="item-title">
                O‘rganishni yangi yo‘llarini kashf qiling
            </div>
            <div class="item-desc">
                Interaktiv viktorinalar, qiziqarli videodarsliklar va ajoyib o‘rganuvchilar hamjamiyati bilan tillarni o‘rganishni boshlang.
            </div>
        </div>
        <div class="item-cards">
            <div class="item-card">
                <div class="card-img">
                    <img src="../../assets/img/book-icon.svg" alt="">
                </div>
                <div class="card-title">
                    Bepul onlayn ta’lim
                </div>
                <div class="card-desc">
                    O‘zingizni rivojlantirish uchun eng sodda yo‘l bo‘lgan bepul onlayn o‘rganish orqali bilimlaringizni kuchaytiring.
                </div>
            </div>
            <div class="item-card">
                <div class="card-img">
                    <img src="../../assets/img/magic-icon.svg" alt="">
                </div>
                <div class="card-title">
                    Interaktiv darslar
                </div>
                <div class="card-desc">
                    Darslar bilan tanishing. Interaktiv darslar orqali o‘zingizni ma’naviy va amaliy bilimlaringizni boyitib borishga harakat qiling.
                </div>
            </div>
            <div class="item-card">
                <div class="card-img">
                    <img src="../../assets/img/lamp-icon (1).svg" alt="">
                </div>
                <div class="card-title">
                    Sun’iy intellekt yordami
                </div>
                <div class="card-desc">
                    Sun’iy intellekt yordamida o‘rganish - zamonaviy uslub. Sun’iy intellektning kuchini his qiling va raqamli dunyo bilan tanishing.
                </div>
            </div>
        </div>
    </div>
</main>