<main>
    <div class="main-container">
        <div class="main-title">
            <span class="sariq">Ibrat TV</span> bilan xorijiy tillarni <br> o‘rganing <span class="border">Sinov Rejimida</span>
        </div>
        <div class="main-show d-flex">
            <div class="show-item__left">
                <div class="show-title">
                    <img src="../../assets/img/calendar.svg" alt="">
                    <span class="desc-img">Dars Jadvali</span>
                </div>
                <div class="jadvallar">
                    <div class="rus-tili dars">Rus Tili <br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili1 dars">Ingiliz Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili2 dars">Kores Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili1 dars">Nemis Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili dars">Fransuz Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili1 dars">IELTS Darslar<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili2 dars">Hind Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili dars">Azarbaijan Tili<br> <span class="vaqt">8:00 10:00</span></div>
                    <div class="rus-tili1 dars">Yapon Tili<br> <span class="vaqt">8:00 10:00</span></div>
                </div>
            </div>
            <div class="show-item__right">
                <div class="show-video">
                    <iframe width="800" height="460" src="https://www.youtube.com/embed/1eSa7xaxUOY?si=NGusvqTysjHz6SjT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="main-section">
            <div class="main-left">
                <div class="left-title">
                    <h2>
                        <span class="sariq">London</span> ta’lim sayohatini birga tashkillashtiramiz!
                    </h2>
                </div>
                <div class="left-desc">
                    <p>"Ibrat Academy" marafoni g'oliblarining Londonga bir haftalik sayohatini tashkil etish uchun sayyohlik firmalarini hamkorlikka chorlaymiz.</p>
                </div>
                <div class="left-btn">
                    <button class="left">Batafsil</button>
                </div>
            </div>
            <div class="main-right">
                <img style="width: 500px; height: 500px;" src="../../assets/img/bg-boy.png" alt="">
            </div>
        </div>
    </section>
</main>
