/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1472px;
    display: flex;
    justify-content: center;
    align-items: center;
}